@model Project_Design_Web.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MasterLayout2.cshtml";
}
<link href="~/Content/Category.css" rel="stylesheet" type="text/css" />
<h2>Delete</h2>

<h3>Bạn có muốn xoá danh mục này không?</h3>
<div>
    <fieldset>
        <legend>Category</legend>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.IDCate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IDCate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NameCate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NameCate)
            </dd>

        </dl>
    </fieldset>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ListCategory")
        </div>
    }
</div>
