@model Project_Design_Web.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterLayout2.cshtml";
}

<h2>Chi tiết khách hàng</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameCus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneCus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneCus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailCus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailCus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDCus }) |
    @Html.ActionLink("Back to List", "Index")
</p>
